<main class="login-container">
  <div class="login">
    <img src="../../assets/logo.svg" alt="EntertainmentWebApp" />
    <div>
      <h1>{{ signUp ? "Sign Up" : "Login" }}</h1>
      <form (submit)="handleAuth()">
        <div>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email address"
            required
            [(ngModel)]="email"
            [value]="email"
          />
        </div>
        <div>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            required
            [(ngModel)]="password"
            [value]="password"
          />
        </div>
        <div *ngIf="signUp">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Repeat Password"
            required
            [(ngModel)]="rpassword"
            [value]="rpassword"
          />
        </div>
        <button class="btn btn-primary">
          {{ signUp ? "Create an account" : "Login to your account" }}
        </button>
      </form>
      <p>
        {{ signUp ? "Already have an account?" : "Don't have an account?" }}
        <a *ngIf="signUp; else elseB" routerLink="/login">Login</a>
        <ng-template #elseB><a routerLink="/signup">SignUp</a></ng-template>
      </p>
    </div>
  </div>
</main>
