<div class="login">
  <img src="../../assets/logo.svg" alt="EntertainmentWebApp" />
  <div>
    <h1>Login</h1>
    <form>
      <div>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email address"
        />
      </div>
      <div>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
        />
      </div>
      <div *ngIf="signUp">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Repeat Password"
          required
        />
      </div>
      <button class="btn btn-primary">
        {{ signUp ? "Create an account" : "Login to your account" }}
      </button>
    </form>
    <p>
      {{ signUp ? "Already have an account?" : "Don't have an account?" }}
      <a *ngIf="signUp; else elseB">Login</a>
      <ng-template #elseB><a>SignUp</a></ng-template>
    </p>
  </div>
</div>
