:root {
  // ### Primary
  --primary-light-red: hsl(356, 100%, 66%);
  --primary-very-light-red: hsl(355, 100%, 74%);
  --primary-very-dark-blue: hsl(208, 49%, 24%);

  // ### Neutral
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-grayish-blue: hsl(240, 2%, 79%);
  --neutral-very-dark-grayish-blue: hsl(207, 13%, 34%);
  --neutral-very-dark-black-blue: hsl(240, 10%, 16%);

  // ### Gradient - into
  --gradient-very-light-red: hsl(13, 100%, 72%);
  --gradient-light-red: hsl(353, 100%, 62%);

  // Background gradient - body:
  --gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
  --gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: min(80%, 1440px);
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.py {
  &-1 {
    padding: 1em 0;
  }

  &-2 {
    padding: 2em 0;
  }

  &-3 {
    padding: 3em 0;
  }

  &-4 {
    padding: 4em 0;
  }

  &-5 {
    padding: 5em 0;
  }

  &-6 {
    padding: 6em 0;
  }

  &-7 {
    padding: 7em 0;
  }

  &-8 {
    padding: 8em 0;
  }
}

.row {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Overpass", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

.btn {
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 0.8em 1.8em;
  border-radius: 1.5em;
  border: none;
  outline: none;

  &-primary {
    color: var(--primary-light-red);
  }

  &-secondary {
    background-color: transparent;
    color: var(--neutral-white);
    border: 1px solid var(--neutral-white);
  }
}

nav {
  margin-bottom: 12em;
  display: flex;
  align-items: center;
  gap: 3em;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2em;

    li {
      gap: 3em;
    }

    li:nth-child(4) {
      margin-left: auto;
    }
  }

  a {
    color: var(--neutral-white);
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;

    img {
      margin-left: 0.4em;
    }
  }
}

nav ul li ul {
  display: none;
}

.intro {
  background: url("../assets/images/bg-pattern-intro.svg") no-repeat 20% 50%,
    linear-gradient(
      90deg,
      var(--gradient-very-light-red),
      var(--gradient-light-red)
    );
  position: relative;
  padding: 2em 0 8em;
  border-bottom-left-radius: 5em;
  z-index: 0;
  overflow: hidden;
  min-height: 50vh;

  h1 {
    color: var(--neutral-white);
    margin-bottom: 0.2em;
  }

  p {
    color: var(--neutral-white);
    font-weight: 300;
    margin-bottom: 2em;
  }

  .container > div {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
}

.future {
  overflow: hidden;
  padding: 5em 0 3em;

  h3 {
    color: var(--primary-very-dark-blue);
  }

  .row {
    justify-content: space-between;
    align-items: center;

    & > * {
      flex: 1 0 45%;
    }

    & div img {
      object-fit: contain;
      margin-left: 8em;
    }

    & div h5 {
      margin-bottom: 1em;
      color: var(--primary-very-dark-blue);
    }

    & div p {
      line-height: 1.8;
      color: var(--neutral-very-dark-grayish-blue);
    }

    & div div:first-child {
      margin-bottom: 4em;
    }
  }
}

.infrastructure {
  background: url("../assets/images/bg-pattern-circles.svg") no-repeat 0 80%,
    linear-gradient(
      90deg,
      var(--gradient-very-dark-gray-blue),
      var(--gradient-very-dark-desaturated-blue)
    );
  border-top-right-radius: 6em;
  border-bottom-left-radius: 6em;
  margin-bottom: 4em;

  .row {
    align-items: center;
    justify-content: space-between;

    & > * {
      flex: 1 0 45%;
    }

    & div img {
      transform: scale(1.5);
      width: 60%;
    }

    & div h3 {
      margin-bottom: 0.5em;
      color: var(--neutral-white);
    }

    & div p {
      line-height: 2;
      color: var(--neutral-white);
    }
  }
}

.open {
  margin-bottom: 6em;

  .row {
    align-items: center;
    justify-content: space-between;

    & > * {
      flex: 1 0 45%;
    }

    & div > div:first-child {
      margin-bottom: 4em;
    }

    & div img {
      object-fit: contain;
      margin-left: -13em;
      width: 100%;
      transform: scale(1.5);
    }

    & div h5 {
      margin-bottom: 1em;
      color: var(--primary-very-dark-blue);
    }

    & div p {
      line-height: 1.8;
      color: var(--neutral-very-dark-grayish-blue);
    }
  }
}

footer {
  background-color: var(--neutral-very-dark-black-blue);
  border-top-right-radius: 6em;

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }

  .lead {
    font-size: 1rem;
    color: var(--neutral-white);
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 2em;
    display: block;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;

    a {
      color: var(--neutral-grayish-blue);
      text-decoration: none;
      font-family: "Overpass", sans-serif;
    }
  }
}
