:root {
  // ### Primary
  --primary-light-red: hsl(356, 100%, 66%);
  --primary-very-light-red: hsl(355, 100%, 74%);
  --primary-very-dark-blue: hsl(208, 49%, 24%);

  // ### Neutral
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-grayish-blue: hsl(240, 2%, 79%);
  --neutral-very-dark-grayish-blue: hsl(207, 13%, 34%);
  --neutral-very-dark-black-blue: hsl(240, 10%, 16%);

  // ### Gradient - into
  --gradient-very-light-red: hsl(13, 100%, 72%);
  --gradient-light-red: hsl(353, 100%, 62%);

  // Background gradient - body:
  --gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
  --gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: min(80%, 1440px);
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

h1,
h2,
h3,
p {
  font-family: "Overpass", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

.btn {
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 0.8em 1.8em;
  border-radius: 1.5em;
  border: none;
  outline: none;

  &-primary {
    color: var(--primary-light-red);
  }

  &-secondary {
    background-color: transparent;
    color: var(--neutral-white);
    border: 1px solid var(--neutral-white);
  }
}

img {
  max-width: 100%;
}

nav {
  margin-bottom: 5em;
  display: flex;
  align-items: center;
  gap: 3em;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2em;

    li {
      gap: 3em;
    }

    li:nth-child(4) {
      margin-left: auto;
    }
  }

  a {
    color: var(--neutral-white);
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;

    img {
      margin-left: 0.4em;
    }
  }
}

nav ul li ul {
  display: none;
}

.intro {
  background: url("../assets/images/bg-pattern-intro.svg") no-repeat 20% 50%,
    linear-gradient(
      90deg,
      var(--gradient-very-light-red),
      var(--gradient-light-red)
    );
  position: relative;
  padding: 2em 0 8em;
  border-bottom-left-radius: 5em;
  z-index: 0;
  overflow: hidden;

  h1 {
    color: var(--neutral-white);
    margin-bottom: 0.2em;
  }

  p {
    color: var(--neutral-white);
    font-weight: 300;
    margin-bottom: 2em;
  }

  .container > div {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
}
