:root {
  // ### Primary
  --primary-light-red: hsl(356, 100%, 66%);
  --primary-very-light-red: hsl(355, 100%, 74%);
  --primary-very-dark-blue: hsl(208, 49%, 24%);

  // ### Neutral
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-grayish-blue: hsl(240, 2%, 79%);
  --neutral-very-dark-grayish-blue: hsl(207, 13%, 34%);
  --neutral-very-dark-black-blue: hsl(240, 10%, 16%);

  // ### Gradient - into
  --gradient-very-light-red: hsl(13, 100%, 72%);
  --gradient-light-red: hsl(353, 100%, 62%);

  // Background gradient - body:
  --gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
  --gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: min(80%, 1440px);
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.py {
  &-1 {
    padding: 1em 0;
  }

  &-2 {
    padding: 2em 0;
  }

  &-3 {
    padding: 3em 0;
  }

  &-4 {
    padding: 4em 0;
  }

  &-5 {
    padding: 5em 0;
  }

  &-6 {
    padding: 6em 0;
  }

  &-7 {
    padding: 7em 0;
  }

  &-8 {
    padding: 8em 0;
  }
}

.row {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Overpass", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

.burger {
  display: none;
}

.mobile {
  display: none;
}

.btn {
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 0.8em 1.8em;
  border-radius: 1.5em;
  border: none;
  outline: none;

  &-primary {
    color: var(--primary-light-red);
  }

  &-secondary {
    background-color: transparent;
    color: var(--neutral-white);
    border: 1px solid var(--neutral-white);
  }
}

nav {
  margin-bottom: 12em;
  display: flex;
  align-items: center;
  gap: 3em;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2em;

    li {
      gap: 3em;
    }

    li:nth-child(4) {
      margin-left: auto;
    }
  }

  a {
    color: var(--neutral-white);
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;

    img {
      margin-left: 0.4em;
    }
  }
}

nav ul li ul {
  display: none;
}

.intro {
  background: url("../assets/images/bg-pattern-intro.svg") no-repeat 20% 50%,
    linear-gradient(
      90deg,
      var(--gradient-very-light-red),
      var(--gradient-light-red)
    );
  position: relative;
  padding: 2em 0 8em;
  border-bottom-left-radius: 5em;
  z-index: 0;
  overflow: hidden;
  min-height: 50vh;

  h1 {
    color: var(--neutral-white);
    margin-bottom: 0.2em;
  }

  p {
    color: var(--neutral-white);
    font-weight: 300;
    margin-bottom: 2em;
  }

  .container > div {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
}

.future {
  overflow: hidden;
  padding: 5em 0 3em;

  h3 {
    color: var(--primary-very-dark-blue);
  }

  .row {
    justify-content: space-between;
    align-items: center;

    & > * {
      flex: 1 0 45%;
    }

    & div img {
      object-fit: contain;
      margin-left: 8em;
    }

    & div h5 {
      margin-bottom: 1em;
      color: var(--primary-very-dark-blue);
    }

    & div p {
      line-height: 1.8;
      color: var(--neutral-very-dark-grayish-blue);
    }

    & div div:first-child {
      margin-bottom: 4em;
    }
  }
}

.infrastructure {
  background: url("../assets/images/bg-pattern-circles.svg") no-repeat 0 80%,
    linear-gradient(
      90deg,
      var(--gradient-very-dark-gray-blue),
      var(--gradient-very-dark-desaturated-blue)
    );
  border-top-right-radius: 6em;
  border-bottom-left-radius: 6em;
  margin-bottom: 10em;

  .row {
    align-items: center;
    justify-content: space-between;

    & > * {
      flex: 1 0 45%;
    }

    & div img {
      transform: scale(1.5);
      width: 60%;
    }

    & div h3 {
      margin-bottom: 0.5em;
      color: var(--neutral-white);
    }

    & div p {
      line-height: 2;
      color: var(--neutral-white);
    }
  }
}

.open {
  margin-bottom: 10em;

  .row {
    align-items: center;
    justify-content: space-between;

    & > * {
      flex: 1 0 45%;
    }

    & div > div:first-child {
      margin-bottom: 4em;
    }

    & div img {
      object-fit: contain;
      margin-left: -13em;
      width: 100%;
      transform: scale(1.5);
    }

    & div h5 {
      margin-bottom: 1em;
      color: var(--primary-very-dark-blue);
    }

    & div p {
      line-height: 1.8;
      color: var(--neutral-very-dark-grayish-blue);
    }
  }
}

footer {
  background-color: var(--neutral-very-dark-black-blue);
  border-top-right-radius: 6em;

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .lead {
    font-size: 1rem;
    color: var(--neutral-white);
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 2em;
    display: block;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;

    a {
      color: var(--neutral-grayish-blue);
      text-decoration: none;
      font-family: "Overpass", sans-serif;
    }
  }
}

@media (max-width: 1340px) {
  .future {
    .row {
      & div img {
        margin-left: 7em;
      }
    }
  }
}

@media (max-width: 1240px) {
  .future {
    .row {
      & div img {
        margin-left: 6em;
      }
    }
  }
}

@media (max-width: 1140px) {
  .future {
    .row {
      & div img {
        margin-left: 5em;
      }
    }
  }

  .infrastructure {
    margin-bottom: 5em;

    .row {
      & div p {
        line-height: 1.5;
      }

      & div h3 {
        font-size: 2rem;
      }
    }
  }

  .open {
    .row {
      & div img {
        margin-left: -11em;
      }
    }
  }
}

@media (max-width: 1040px) {
  .future {
    .row {
      & div img {
        margin-left: 4em;
      }
    }
  }
}

@media (max-width: 940px) {
  .future {
    .row {
      & div img {
        margin-left: 3em;
      }
    }
  }

  .infrastructure {
    padding: 1em 0;

    .row {
      & div img {
        transform: scale(1.8);
      }
    }
  }

  .open {
    .row {
      & div img {
        margin-left: -9em;
      }
    }
  }
}

@media (max-width: 850px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .burger {
    display: block;

    span {
      padding: 0.08em 1em;
      background-color: var(--neutral-white);
      display: block;
      margin-bottom: 0.4em;
    }
  }

  nav {
    margin-bottom: 8em;
    justify-content: space-between;

    ul {
      position: absolute;
      visibility: hidden;
    }
  }

  .intro {
    h1 {
      max-width: 14ch;
      margin: 0 auto 0.4em;
    }
  }

  .future {
    padding-bottom: 18em;

    h3 {
      margin-bottom: 2em;
    }

    .row {
      flex-direction: column-reverse;
      gap: 5em;

      & div img {
        margin-left: unset;
        width: 100%;
      }

      & div :is(p, h5) {
        text-align: center;
      }
    }
  }

  .infrastructure {
    padding: 1em 0 10em;
    background-position: center -12em;
    background-size: contain;
    margin-bottom: 2em;

    .row {
      flex-direction: column;

      & div img {
        display: block;
        width: 80%;
        transform: unset;
        margin: -14em auto 0;
      }

      & div :is(h3, p) {
        text-align: center;
      }

      & div p {
        line-height: 2;
      }

      & div h3 {
        font-size: 2.5rem;
      }
    }
  }

  .open {
    margin-bottom: unset;

    .row {
      flex-direction: column;
      gap: 10em;

      & div img:not(.desktop) {
        width: 100%;
        display: block;
        margin: 0 auto;
      }

      & div :is(p, h5) {
        text-align: center;
      }
    }
  }

  footer {
    .container {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 5em;
      justify-items: center;
    }
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .infrastructure {
    .row {
      & div img {
        margin-top: -12em;
      }
    }
  }
}

@media (max-width: 550px) {
  .infrastructure {
    .row {
      & div img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  footer {
    .container {
      grid-template-columns: 1fr;
      row-gap: 5em;
      justify-items: center;

      div:not(div:first-child) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }

    ul li {
      text-align: center;
    }
  }
}
